@tailwind base;
@tailwind components;
@tailwind utilities;

.score-enter {
  opacity: 0;
  transform: translateY(100%);
}

.score-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 100ms, transform 100ms;
}
